/* styles.css */
#hideMint {
    width: 80px; /* Set a larger width */
    padding: 0px 0px; /* Add padding for better visual appeal */
    border: none;
    border-radius: 5px; /* Add rounded corners for a softer look */
  }
  